<% unless current_page?(root_path) %>
<div class="row" style="height:200px;background-size: 100% 100%; background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Lower_Manhattan_from_Jersey_City_November_2014_panorama_2.jpg/1200px-Lower_Manhattan_from_Jersey_City_November_2014_panorama_2.jpg');">
  <div class="container navbar-shadow">
    <nav style="padding: 20px;" class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" href="/">YourFootprint</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/" style="color:green">Home</a>
          <a class="nav-item nav-link" href="#" style="color:green">Weather Page</a>
          <a class="nav-item nav-link" href="/calculator" style="color:green">Calculator</a>
          <a class="nav-item nav-link" href="#" style="color:green">Profile Page</a>
          <a class="nav-item nav-link" href="#" style="color:green">Leaderboard</a>    
        </div>
      </div>
        <div class="btn-group ml-auto" role="group" aria-label="Button group example">
            <button type="button" class="btn btn-outline-success btn-lg">Login</button>
            <button type="button" class="btn btn-outline-success btn-lg">Sign Up</button>
        </div>
    </nav>
  </div>
</div>
<% else %>
<div class="h-100" style="background-size: 100% 100%; background-image: url('https://media3.giphy.com/media/cIbBcIzFaUvhIZbO0S/giphy.gif?cid=ecf05e47lnq013fn80o71wmwu8evccyup0uc6llazrk7owlr&rid=giphy.gif');">
  <div class="row">
    <%= render "home/nav" %>  
    <div class="container-fluid text-center" style="text-shadow: white 0px 0px 10px;">
      <div class="jumbotron">
          <h1 class="display-2">Welcome to YourFootprint</h1>
          <h3 class="h5" style="color: green;">
              <small>Considering the current to protect the future</small>
          </h3>
          <div id="carouselContent" class="carousel slide mt-5" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active text-center">
                      <p class="lead">“I only feel angry when I see waste. When I see people throwing away things we could use.”</p>
                      <em style="color:black">— Mother Teresa</em>
                  </div>
                  <div class="carousel-item text-center">
                      <p class="lead">“The Earth is what we all have in common.”</p>
                      <em style="color:black">— Wendell Berry</em>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
    <div class="row text-center" style="bottom:0px;position:absolute;background-color: rgba(214, 213, 213, 0.8);">
      <div class="col-md-3 p-5">
          <h1 class="display-5 text-center">Who are we?</h1>
          <h5><small style="color: darkslategrey;">We are a small team who have made an interactive website to encourage people to act in a more environmentally friendly way</small></h5>
          <a class="btn btn-outline-primary btn-md mt-3 mb-3" href="#" role="button">More Info</a>            
      </div>
      <div class="col-md-3 p-5">
          <h1 class="display-5 text-center">How can we help?</h1>
          <h5><small style="color: darkslategrey;">Our Calculator is designed to help people review their daily activities and make them aware of the impact they have on the environment</small></h5>
          <a class="btn btn-outline-dark btn-md mr-4 mt-3" href="#" role="button">Calculator</a>
      </div>
      <div class="col-md-3 p-5">
          <h1 class="display-5 text-center">What's your #?</h1>
          <h5><small style="color: darkslategrey;">Sign up, log your environmental impact for daily activities and get automatically ranked on our leaderboard</small></h5>
          <a class="btn btn-outline-danger btn-md mr-4 mt-3" href="#" role="button">Leaderboard</a>
      </div>
      <div class="col-md-3 p-5">
          <h1 class="display-5 text-center">Quick Sign Up</h1>
              <form>
                  <div class="form-group mb-3">
                      <div class="col-md-12">
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      </div>
                  </div>
                  <div class="form-group mb-3 col-md-12">
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
              <a class="btn btn-outline-success btn-md" href="#" role="button">Sign Up now to make a difference</a>
          </form>
      </div>
  </div>
</div>
<% end %>


