<div class="container w-100" style="height:100px;">
<nav style="padding: 20px;" class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href="#">YourFootprint</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" style="color:green">Home</a>
      <a class="nav-item nav-link" href="#" style="color:green">Weather Page</a>
      <a class="nav-item nav-link" href="/calculator" style="color:green">Calculator</a>
      <a class="nav-item nav-link" href="#" style="color:green">Profile Page</a>
      <a class="nav-item nav-link" href="#" style="color:green">Leaderboard</a>    
    </div>
  </div>
    <div class="btn-group ml-auto" role="group" aria-label="Button group example">
        <button type="button" class="btn btn-outline-success btn-lg">Login</button>
        <button type="button" class="btn btn-outline-success btn-lg">Sign Up</button>
    </div>
</nav>
</div>