
<!--
<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card h-100" style="width: 25rem;">
                <img src="https://ec.europa.eu/jrc/sites/jrcsh/files/styles/normal-responsive/public/environmental-protection-683437_1280_pixabay_free_non-commercial.jpg?itok=4R4SASf7" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Start now!</h5>
                <p class="card-text">Everyone's involved when it comes to being more sustainable. Start helping by making an account now!</p>
                <a href="#" class="btn btn-outline-success">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100" style="width: 25rem;">
            <img style="height: 225px" src="https://pbs.twimg.com/profile_images/1354479643882004483/Btnfm47p_400x400.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Tweet placeholder</h5>
              <p class="card-text">Tweet from twitter api</p>
              <a href="#" class="btn btn-outline-success mt-5">View Tweet</a>
            </div>
          </div>
        </div>
          <div class="col-md-4">
            <div class="card h-100" style="width: 25rem;">
                <img style="height:225px" src="https://runfrictionless.com/wp-content/uploads/2018/10/trophy-160px.gif" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Top of the leaderboard placeholder</h5>
                <p class="card-text">Account with the highest number of points</p>
                <a href="#" class="btn btn-outline-success mt-5">View Leader</a>
                </div>
            </div>
          </div>
    </div>
</div>

-->