<div class="d-flex flex-column">
    <div class="row pt-3 pb-3 air-quality">
        <div class="container text-center" style="background-color: <%= @box_colour %>;border-radius: 25px;">
            <h3 class="font-shape pt-1 air-quality-text"><a href="/weather" class="link-style">Current air quality in the
                    UK: <%= @final_output %></a></h3> <span
                class="badge rounded-pill bg-info text-dark live-pill">Live!</span>
            <h5 class="font-shape air-quality-text-sub">The air quality ranges from 0-500 depending on the current air
                quality in the area</h3>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid text-center">
            <div class="jumbotron text-center p-5 col-sm-8 offset-sm-2 main-content">
                <h1 class="font-shape display-2">Welcome to <a class="btn btn-dark btn-lg"><span
                            class="display-5">YourFootprint</span></a></h1>
                <h3 class="h2 subtitle">
                    <small>Helping people become more aware of climate change</small>
                </h3>
                <div id="carouselContent" class="carousel slide mt-5" data-ride="carousel">
                    <div class="carousel-inner p-3 carousel-text" role="listbox">
                        <div class="carousel-item active text-center">
                            <p class="lead">“I only feel angry when I see waste. When I see people throwing away things we
                                could use.”</p>
                            <em>— Mother Teresa</em>
                        </div>
                        <div class="carousel-item text-center">
                            <p class="lead">“The Earth is what we all have in common.”</p>
                            <em>— Wendell Berry</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center p-4 bottom-bar">
        <div class="col-md-3">
            <h1 class="font-shape">Who are we?</h1>
            <h5><small class="subtitle">We are a small team who have made an interactive website to encourage people to act
                    in a more environmentally friendly way</small></h5>
            <a class="btn btn-primary btn-md mt-3 mb-3" href="#" role="button">More Info</a>
        </div>
        <div class="col-md-3">
            <h1 class="font-shape">How can we help?</h1>
            <h5><small class="subtitle">Our Calculator is designed to help people review their daily activities and make
                    them aware of the impact they have on the environment</small></h5>
            <a class="btn btn-dark btn-md mr-4 mt-3" href="#" role="button">Calculator</a>
        </div>
        <div class="col-md-3">
            <h1 class="font-shape">What's your #?</h1>
            <h5><small class="subtitle">Sign up, log your environmental impact for daily activities and get automatically
                    ranked on our leaderboard</small></h5>
            <a class="btn btn-danger btn-md mr-4 mt-3" href="#" role="button">Leaderboard</a>
        </div>
        <div class="col-md-3">
            <h1 class="font-shape">Quick Sign Up</h1>
            <form>
                <div class="form-group mb-3">
                    <div class="col-md-12">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                </div>
                <div class="form-group mb-3 col-md-12">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <a class="btn btn-success btn-md" href="#" role="button">Sign Up now to make a difference</a>
            </form>
        </div>
    </div>
</div>


<!--
<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card h-100" style="width: 25rem;">
                <img src="https://ec.europa.eu/jrc/sites/jrcsh/files/styles/normal-responsive/public/environmental-protection-683437_1280_pixabay_free_non-commercial.jpg?itok=4R4SASf7" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Start now!</h5>
                <p class="card-text">Everyone's involved when it comes to being more sustainable. Start helping by making an account now!</p>
                <a href="#" class="btn btn-outline-success">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100" style="width: 25rem;">
            <img style="height: 225px" src="https://pbs.twimg.com/profile_images/1354479643882004483/Btnfm47p_400x400.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Tweet placeholder</h5>
              <p class="card-text">Tweet from twitter api</p>
              <a href="#" class="btn btn-outline-success mt-5">View Tweet</a>
            </div>
          </div>
        </div>
          <div class="col-md-4">
            <div class="card h-100" style="width: 25rem;">
                <img style="height:225px" src="https://runfrictionless.com/wp-content/uploads/2018/10/trophy-160px.gif" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Top of the leaderboard placeholder</h5>
                <p class="card-text">Account with the highest number of points</p>
                <a href="#" class="btn btn-outline-success mt-5">View Leader</a>
                </div>
            </div>
          </div>
    </div>
</div>

-->