<div class="row pt-5">
	<div class="container-fluid text-center">
		<div class="jumbotron text-center p-5 col-sm-8 offset-sm-2 main-content">
            <h1 class="display-2 text-center">YourFootprint<small class="text-muted"> T&Cs</small></h1>
        </div>
    </div>
</div>

<div class="row">
	<div class="container-fluid text-center">
		<div class="text-center p-5 col-sm-8 offset-sm-2 main-content">
            <p class="lead">Put the T&Cs here....</p>
        </div>
    </div>
</div>