<main>
  <div class="row pt-5 text-center" style="margin:0 auto; width:70%;">
    <div class="container p-5" style="border-radius: 25px; background-color: rgba(214, 213, 213, 0.8)">
      <h1 class="display-2" style="color:black;">Weather<small class="text-muted"> Information</small></h1>
    </div>
  </div>
</main>
