<main>
  <div class="row pt-5 main-row">
    <div class="container p-5 main-container">
      <h1 class="display-2 text-center black">YourFootprint<small class="text-muted"> Calculator</small></h1>
      <hr>
      <form>
        <div class="row">
          <div class="col-md-6 input-values">
            <h1 class="display-5 title">Input Amounts</h1>
            <div class="form-group row">
              <legend for="inputEmail3" class="col-sm-2 col-form-label pt-3">Power</legend>
              <div class="col-sm-6">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Enter Power Usage, kWh">
              </div>
            </div>
            <div class="form-group row pt-3">
              <legend for="inputEmail3" class="col-form-label col-sm-2 pt-3">Distance</legend>
              <div class="col-sm-6">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Enter Distance Travelled">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h1 class="display-5 title">Fuel & Distance Types</h1>
            <fieldset class="form-group row">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-2">Fuel</legend>
                <div class="col-sm-8">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="fuelRadios" id="fuelRadios1" value="option1"
                      checked>
                    <label class="form-check-label" for="gridRadios1">
                      Petrol
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="fuelRadios" id="fuelRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                      Diesel
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group row">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-2">Distance</legend>
                <div class="col-sm-8">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios1" id="gridRadios1" value="option1"
                      checked>
                    <label class="form-check-label" for="gridRadios1">
                      Kilometers
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios1" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                      Miles
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="form-group row pt-5">
          <button type="submit" class="btn btn-light">Calculate Your Difference</button>
        </div>
      </form>
    </div>
  </div>
</main>