<html>
    <head></head>
    <body class="bg-light">
        <main>
            <div class="row bg-light">
                <div class="container-fluid text-center mt-5 mb-5">
                    <div class="jumbotron">
                        <h1 class="display-2" style="color:black;">YourFootprint<small class="text-muted"> Calculator</small> </h1>
                        <h3 class="h5" style="color: green;">
                            <small>Make changes and caluclate your impact</small>
                        </h3>
                    </div>
                </div>
                <hr>
            </div>

        </main>
    </body>
</html>