<main>
    <div class="row">
        <div class="jumbotron text-center w-50 p-5" style="margin: 0 auto;border-radius: 25px; background-color: rgba(214, 213, 213, 0.8)">
            <h1 class="display-2" style="color:black;">YourFootprint<small class="text-muted"> Calculator</small></h1>
            <h3 class="h2" style="color: darkslategrey;">
                <small>Calculate your differences</small>
            </h3>
        </div>
    </div>
</main>