// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form label, form input {
    width: 100%;
    display: block;
    margin: 10px; 
}

.bottom-bar {
    position:relative;
    bottom:0px;
    background-color: rgba(214, 213, 213, 0.7);
}

@media only screen and (min-width: 992px) {
    .bottom-bar {
        position:sticky;
    }
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

.maroon {
    background-color: maroon;
}

.grey {
    background-color: grey;
}

.font-shape {
    font-weight: 300;
    line-height: 1.2;
}
.navbar-padding {
    padding-top: 20px !important;
}

.air-quality {
    margin:0 auto !important;
    width:fit-content !important;
}

.air-quality-text {
    display: inline-block;
    font-size: 30px !important; 
}

.air-quality-text-sub {
    color: white;
}

.link-style {
    text-decoration: none;
    color: black;
}

.main-content {
    border-radius: 25px;
    background-color: rgba(214, 213, 213, 0.8);
}

.subtitle {
    color: darkslategrey;
}

.carousel-text {
    border-radius: 25px; 
    background-color:rgba(157, 223, 148, 0.4);
}

.live-pill {
    vertical-align: 50%;
}
