// Place all the styles related to the leaderboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
padding-bottom: 1%;
}

.main-objects {
    width: 60%;
    margin: 0 auto;
    border-radius: 25px;
    background-color: rgba(214, 213, 213, 0.8);
}

.leaderboards {
    width:80%;
}