<div class="row pt-5" style="margin:0 auto; width:70%;">
<div class="container p-5" style="border-radius: 25px; background-color: rgba(214, 213, 213, 0.8)">
<div class="container1">
<%= image_tag "unknownProf1.png", :class => "profile" %>
<a type="button"  href="/users/edit" class="btn">Edit</a>
</div>
</div>
</div>