<div class="container-fluid px-4">
    <div class="row">
		<div class="col text-center p-5" style="margin: 0 auto;border-radius: 25px; background-color: rgba(214, 213, 213, 0.8)">
			<h1 class="display-2">Welcome to</h1>
		</div>
        <div class="col text-center p-5" style="margin: 0 auto;border-radius: 25px; background-color: rgba(214, 213, 213, 0.8)">
            <h1 class="display-2">Welcome to</h1>
        </div>
	</div>
</div>
